h1 {
  text-align: center;
  margin: 25px 0 30px;
}

body {
  background-color: #e3fafa;
}
table {
  table-layout: fixed;
  background-color: #fdfdfd;
}

#showData {
  width: 70%;
  /* margin: 0 auto;  */
  position: relative;
  left: 15%;
}

.styled-table {
  border-collapse: collapse;
  margin-bottom: 25px;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
  border-radius: 5px;
  overflow: hidden;
  text-align: left;
}

.styled-table th {
  background-color: #009879;

  color: #ffffff;
  /* text-align: center; */
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  
}

.styled-table th:nth-child(1),
.styled-table td:nth-child(1) {
  width: 10%;
  font-size: 1.5em;
}

.styled-table th:nth-child(2),
.styled-table td:nth-child(2) {
  width: 35%;
  font-size: 0.9em;
}

.styled-table th:nth-child(3),
.styled-table td:nth-child(3) {
  width: 25%;
  font-size: 0.9em;
}

.styled-table th:nth-child(2),
.styled-table th:nth-child(3) {
  background-color: #807e7e;
  color: #ffffff;
}

.styled-table td:nth-child(2),
.styled-table td:nth-child(3) {
  background-color: #f3f3f3;
  /* color: #ffffff; */
}

#dataset_list {
  width: 250px;
}

#num_vocab_list {
  width: 50px
}

.select_box {
  /* width: 60px; */
  height: 30px;
  border: 2px solid #1c87c9;
  font-size: 15px;
  color: #060808;
  background-color: #eee;
  border-radius: 25px;
  /* box-shadow: 4px 4px #ccc;  */
}

.display_checkbox {
  position: relative;
  padding-left: 10px;
  padding-top: 5px;
  left: 15%;
}

/* .num_vocab {
  
  
} */

.select_num {
  /* position: relative; */
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  /* left: 15%; */
}


.select_dataset {
  /* position: relative; */
  padding-left: 10px;
  padding-top: 5px;
  /* left: 15%; */
  margin-bottom: 40px;
}

.explanation {
  position: relative;
  left: 15%;
  margin-bottom: 20px;
}

.reference {
  margin-top: 100px;
  position: relative;
  left: 15%;
  font-size: 14px;
}

.options1{
  display: grid;
  position: relative;
  left: 15%;
  grid-template-columns: 140px 120px;
}

.options2{
  display: grid;
  position: relative;
  left: 15%;
  /* grid-column-gap: 50px; */
  grid-template-columns: 120px 120px;
  
}